# Summer Analytics 2020 - Basic Data Analysis

- #### Welcome to your second assignment, on basic data analysis!
- #### This Assignment is ungraded

### 1) Import Pandas and Numpy

In [48]:
import pandas as pd
import numpy as np

### 2) Import the dataset and  Assign it to a variable called Chipo

#### Import the dataset from this url 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
#### REMEMBER: It is a .tsv file , you will have to do some research on how to read .tsv files first!

In [49]:
info = pd.read_csv('https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv', delimiter = '\t')

### 3) See the first 10 entries

In [50]:
info.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### 4) What is the number of observations in the dataset?

In [51]:
info.shape[0]

4622

### 5) What is the number of columns in the dataset?

In [52]:
info.shape[1]

5

### 6) Print the name of all the columns.

In [53]:
info.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### 7) Which was the most-ordered item?

In [54]:
c = info.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### 8) For the most-ordered item, how many items were ordered?

In [56]:
c = info.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending = False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### 9) What was the most ordered item in the choice_description column?

In [57]:
d = info.groupby('choice_description')
d = d.sum()
d = d.sort_values(['quantity'], ascending = False)
d.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### 10) How many items were ordered in total?

In [58]:
total_items = info.quantity.sum()
total_items

4972

### 11) Turn the item price into a float

In [59]:
def dollarizer(x):
    return float(x[1:-1])
info.item_price = info.item_price.apply(dollarizer)

### 12) How much was the revenue for the period in the dataset?
#### Revenue will be the sum of quantity * item_price!

In [60]:
revenue = (info['quantity']* info['item_price']).sum()
revenue

39237.02

### 13) How many orders were made in the period?

In [61]:
info.order_id.value_counts().count()

1834

### 14) What is the average revenue amount per order?

In [69]:
info['revenue'] = info['quantity'] * info['item_price']
grouped = info.groupby(by=['order_id']).sum()
grouped.mean()['revenue']

21.394231188658654

### 15) How many different items are sold?

In [62]:
info.item_name.nunique()

50